.item {
  width: 500px;
  color: #353935;
  font-size: 20px;
  margin: 0 auto;
}

.itemName {
  font-weight: bold;
  padding: 20px;
}

.line {
  border: 1px solid #f4f4f4;
}

.deleteButton {
  float: right;
  color: white;
  background-color: #ff2525;
  border: none;
  border-radius: 5px;
  padding: 10px 12px;
  cursor: pointer;
  margin-top: -5px;
}

.completed {
  text-decoration: line-through;
  cursor: pointer;
}
